
.btn-read-more { 
  border: 2px solid #f44336; 
}

.btn-read-more:hover {
  background: #f44336;
  
}
.btn-read-more-fill{
 background: #f44336;
  border: 2px solid #f44336;
 
} 
.submit {
  background: #f44336;
  border: 2px solid #f44336;
  
}

.btn-read-more-transparent {
  border: 2px solid #f44336;  
}

.btn-error:hover {
  background: #f44336;
 
}
.btn-shopnow {
  background: #f44336;
 
  border: 2px solid #f44336;
 
}

.btn-cart {
  background: #f44336;
 
  border: 2px solid #f44336;
 
}

.btn-download {

  border: 2px solid #f44336;
 
}

.btn-checkout {
  background: #f44336; 
  border: 1px solid #f44336; 
}

.section-title-area .title-bottom-icon .title-bottom-border
{

  background: #f44336;
 
}

.section-title-area .title-bottom-icon i {
  color: #f44336;
  
}

.section-sub-title-big:after {
  
  background: #f44336;
 
}

.section-sub-title a:hover {
  color: #f44336;
 
}
.section-sub-title:after {
  
  background: #f44336;
 
}

.sub-title a:hover {
  color: #f44336;

}

.title-bar:after {
  
  background: #f44336;
 
}

.sidebar-search-title:after {
  background: #f44336;
 
}

.sidebar-title:after {
  background: #f44336;
  
}

.header-bennar-area .header-bennar-right ul li a {
  color: #f44336;

}

.mypagination li a:hover {
  background: #f44336;
  
}

.header-top-area .header-top-left ul li i {
  color: #f44336;
  
}

.header-top-area .header-top-right ul li a {
  color: #f44336;
 
}

.header-style2-area .header-top-area {
  background: #f44336;
}
.header-style2-area .header-top-area {
  background: #f44336;
}

.header-style2-area .header-top-area .header-top-right ul li a:hover {
  color: #f44336;
}


.header-style3-area .main-header-area {
  background: #f44336;
}

.header-style4-area .header-top-area {
   background: #f44336;
  
}

.header-style4-area .header-top-area .header-top-right ul li a:hover {
  color: #f44336;
}

.header-style4-area .header-top-area .header-top-left ul li a:hover {
  color: #f44336;
}

.header-style4-area .main-header-area .my-search-style .input-group-addon button i {
  color: #f44336;
}

.header-style3-area .stick {
  background: #f44336;
 
}

.mean-container .mean-nav ul li a:hover {
  color: #f44336;
}

.preview-1 .slider-1 h1 span {
  color: #f44336;
}

.preview-1 .slider-1 .read-more ul li a {
  background: #f44336;

}

.preview-1 .slider-2 h1 span {
  color: #f44336;
}

.preview-1 .slider-2 .read-more ul li a {
  background: #f44336;
  
}

.preview-1 .slider-3 h1 span {
  color: #f44336;
}

.preview-1 .slider-3 .read-more ul li a {
  background: #f44336;
  
}

.preview-2 .slider-1 p span i:before {
  color: #f44336;

}
.preview-2 .slider-1 h1 {
  
}
.preview-2 .slider-1 h1 span {
  color: #f44336;
}

.preview-2 .slider-2 p span i:before {
  color: #f44336;
 
}

.preview-2 .slider-2 h1 span {
  color: #f44336;
}

.preview-2 .slider-3 p span i:before {
  color: #f44336;
 
}

.preview-2 .slider-3 h1 span {
  color: #f44336;
}


.preview-2 .slider-1 .read-more ul li a {
  background: #f44336;
  
}

.preview-3 .slider-1 h1 span {
  color: #f44336;
}

.preview-3 .slider-2 h1 span {
  color: #f44336;
}

.preview-3 .slider-3 h1 span {
  color: #f44336;
}



.preview-3 .slider-3 .read-more ul li a {
  background: #f44336;
 
}

.service-box {
  background: #f44336;
}

 .services-2-bottom h3 a:hover {
  color: #f44336;

}
.services-2-bottom h3:after {
  
  background: #f44336;
 
}

 .services-4-area-left-bottom-box i:before {
  color: #f44336;
  
}

 .services-4-area-left-bottom-box h3:after {
  background: #f44336;
 
}
.services-4-area-left-bottom-box:hover {
  background: #f44336;
  
  border: 1px solid #f44336;
}



.page-services-1-top-area .services-1-top-inner ul li a i:before {
  color: #f44336;
  
}
.page-services-1-top-area .services-1-top-inner ul .active a {
  border: 1px solid #f44336;
  background: #f44336;
  
}

.page-services-1-project-activation-area {
  background: #f44336;
 
}

.page-services-2-box .media > a i:before {
  color: #f44336;
 
}
.page-services-2-box .media > a:hover {
  background: #f44336;
}



.page-services-6-box .media > a {
 
  background: #f44336;
 
}

.page-services-6-box .media > a:hover i:before {
  color: #f44336;
  
}

.page-services-4-box > a {
 
  background: #f44336;
  
}

.page-services-4-box > a:hover i {
  color: #f44336;
 
}


.page-services-4-box h3 > a:hover {
  color: #f44336;
 
}
.page-services-4-box h3:after {
 
  background: #f44336;
  
}

.about-area .about-left h2 span {
  color: #f44336;
}

.about-area .about-left ul li i:before {
  color: #f44336;
  
}

.about-2-area .about-2-left h2 span {
  color: #f44336;
}

.about-2-tab-area ul li a:hover {
  background: #f44336;
  border: 1px solid #f44336;
  
}

.about-2-tab-area ul li span:after {
  border-top: 7px solid #f44336;
  
}

.about-2-tab-area ul .active a {
  background: #f44336;
  border: 1px solid #f44336;
  
}

.about-3-area .about-3-left .about-3-left-top h2:after {
 background: #f44336;
  
}

.about-3-area .about-3-details .media .media-body h4 a:hover {
  color: #f44336;
  
}
.about-3-area .about-3-details .media .media-body h4:after {
  background: #f44336;
 
}

.about-4-area .about-4-left h2 span {
  color: #f44336;
}

.about-4-area .about-4-left .about-4-tab-area ul li a:hover {
  background: #f44336;
  border: 1px solid #f44336;
 
}

.about-4-area .about-4-left .about-4-tab-area ul li span:after {
  
  border-top: 7px solid #f44336;
  
}

.about-4-area .about-4-left .about-4-tab-area ul .active a {
  background: #f44336;
  border: 1px solid #f44336;
 
}


.page-about-us-area .page-about-us-left h2:after 
{
 
  
  background: #f44336;
}

.page-about-us-details-area .page-about-us-details-box > a {

  background: transparent;
  color:#f44336;

}
.page-about-us-details-area .page-about-us-details-box > a i{

   color:#f44336;

}

.page-about-us-details-area .page-about-us-details-box > a:hover i {
  color: #f44336;
 
}

.page-about-us-details-area .page-about-us-details-box h3 > a:hover {
  color: #f44336;
  
}
.page-about-us-details-area .page-about-us-details-box h3:after
 {
 
  background: #f44336;
  position: absolute;
}

.featured-area .isotop-classes-tab a {
  border: 2px solid #f44336;
  
  
}
.featured-area .isotop-classes-tab a:hover {
  background: #f44336;
  border: 2px solid #f44336;
 
}
.featured-area .isotop-classes-tab .current {
  background: #f44336;
  border: 2px solid #f44336;
 
}


.featured-area-lite .isotop-classes-tab a:hover {
  border: 1px solid #f44336;
  background: #f44336;
  
}
.featured-area-lite .isotop-classes-tab .current {
  background: #f44336;
  
}

.isotop-classes-tab a:hover {
  background: #f44336;
  
}
.isotop-classes-tab .current {
  background: #f44336;
 
}

.featured-2-area .owl-controls .owl-prev,
.featured-2-area .owl-controls .owl-next {
  
  background: #f44336;
  
  border: 1px solid #f44336;
}

.featured-2-area .owl-controls .owl-prev:hover i,
.featured-2-area .owl-controls .owl-next:hover i {
  color: #f44336;
}

.featured-3-area .isotop-classes-tab a:hover {
  background: #f44336;
 
}
.featured-3-area .isotop-classes-tab .current {
  background: #f44336;
 
}

.featured-4-area .isotop-classes-tab a:hover {
  background: #f44336;

}
.featured-4-area .isotop-classes-tab .current {
  background: #f44336;
  
}

.clients-area .clients-box .clients-area-top .clients-area-top-content h4 a:hover {
  color: #f44336;
  
}

.clients-area .clients-box .clients-area-top .clients-area-top-content p:after {
 
  background: #f44336;
}

.clients-area .owl-controls .owl-dots .active span {
  background: #f44336;
}
.clients-area .owl-controls .owl-dots .owl-dot:hover span {
  background: #f44336;
}

.clients-2-area .clients-2-box .clients-area-2-top img {
 
  border: 8px solid #f44336;
 
}

.clients-2-area .clients-2-box .clients-area-2-top .clients-area-2-top-content h4 a:hover {
  color: #f44336;

}

.clients-2-area .clients-2-box .clients-area-2-top .clients-area-2-top-content p:after {
  
  background: #f44336;
}

.clients-2-area .owl-controls .owl-dots .active span {
  background: #f44336;
}
.clients-2-area .owl-controls .owl-dots .owl-dot:hover span {
  background: #f44336;
}

.clients-3-area .clients-3-box p a {
  
  color: #f44336;
}


.news-area .inner-news-box-top .news-published .news-date {
 background: #f44336;  
}

.news-area .inner-news-box-bottom h4:hover a {
  color: #f44336;
  
}

.news-3-area .inner-news-3-box-top .news-published .news-date {
   background: #f44336;  
}

.news-3-area .inner-news-3-box-bottom h4:hover a {
  color: #f44336;
 
}

.page-news-area .inner-page-news-area .inner-page-news-box .inner-news-box-top .news-published .news-date {
  background: #f44336;
 
}

.page-news-area .inner-page-news-area .inner-page-news-box .inner-news-box-bottom h4:hover a {
  color: #f44336;
  
}

.page-news-details-area .page-news-details-content .page-news-details:hover {
  color: #f44336;
 
}

.page-news-details-area .page-news-details-content .comments-info li i {
  padding-right: 10px;
  color: #f44336;
}

.page-news-details-area .page-news-details-content p span:after {
  background: #f44336;
  
}

.page-news-details-area .page-news-details-tags ul li a:hover {
  color: #f44336;

}

.page-news-details-area .page-news-details-comments .media .media-body h3 a:hover {
  color: #f44336;
  
}

.page-news-details-area .page-news-details-comments .media .media-body .replay-area a:hover {
  color: #f44336;
 
}
.page-news-details-area .page-news-details-comments .media .media-body .replay-area a i:before {
  color: #f44336;
}

.page-news-details-area .page-news-details-comments .media .media-body .replay-area a i:before {
  color: #f44336;
}

.page-news-details-comments .comment-edit-link{
	
	color:#f44336;
	
}

.video-area h2 span {
  color: #f44336;
}

.video-area a:hover i:before {
  color: #f44336;
 
}

.video-4-area h2 span {
  color: #f44336;
}

.video-4-area a:hover i:before {
  color: #f44336;

}

.projects-1-featured-area .isotop-classes-tab a:hover {
  background: #f44336;
 
}
.projects-1-featured-area .isotop-classes-tab .current {
  background: #f44336;
  
}

.projects-2-featured-area .isotop-classes-tab a:hover {
  border: 1px solid #f44336;
  background: #f44336;
  
}
.projects-2-featured-area .isotop-classes-tab .current {
  background: #f44336;
  
}

.page-project-details-area .page-project-details-bottom ul li i:before {
  color: #f44336;
 
}

.single_port_navigation .previous_project {
    border: 1px solid #f44336;
    background: #f44336;
    
}
.single_port_navigation .next_project {
    border: 1px solid #f44336;
    background: #f44336;
    
}

.page-shop-area .inner-shop-top-right ul > li:hover a i {
  color: #f44336;
}

.page-shop-area .inner-shop-top-right ul > .active i {
  color: #f44336;
}

.shop-2-box .media-body .shop-2-box-content h4 a:hover {
  color: #f44336;
  
}

.shop-2-box .media-body .shop-2-box-cart li a:hover {
  background: #f44336;
  
}

.inner-shop-details .product-details-tab-area ul .active a {
  color: #f44336;
 
}

.inner-shop-details .related-products .owl-controls .owl-nav .owl-prev:hover,
.inner-shop-details .related-products .owl-controls .owl-nav .owl-next:hover {
  background: #f44336;
  
}

.team-box h3 a:hover {
  color: #f44336;
 
}

.team-2-box .media .media-body ul li a:hover {
  background: #f44336;
  
}

.team-3-area .team-2-box .media .media-body ul li a:hover {
  background: #f44336;
 
}

.team-details-top-area .team-details-top-area-right .team-details-social li a:hover {
  background: #f44336;
  
}

.team-details-team-area .owl-controls .owl-nav .owl-prev:hover,
.team-details-team-area .owl-controls .owl-nav .owl-next:hover {
  background: #f44336;
  
}

.staff_meta_last a{
	color :#f44336;
}

.get-quote-area .inner-get-quote-area {
  background: #f44336;
}

.why-choose-us-area .why-choose-us-left .why-choose-us-title h2 span {
  color: #f44336;
}


.project-activation-area .about-counter-list i {
	color: #f44336;
   
}

.project-activation-area .about-counter-list h2:after {
  
  background: #f44336;
 
}

/* counter style 2 */
.project-activation-area-2{
	background: #f44336;
}


.page-contact-us-area .page-contact-us-left ul li i {
  color: #f44336;
  
}

.form-response .alert-success {
  background: #f44336;
  
}

.page-error-area .page-error-top {
  background: #f44336;
  
}

.sidebar .popular-tags-box ul li a:hover ,  .widget_tag_cloud .tagcloud a:hover,
footer .footer-area-top .widget_tag_cloud .tagcloud a:hover{
  background: #f44336;
  
}

.sidebar .categories-box ul li a:hover, .widget_categories ul li a:hover ,
 .widget_recent_entries ul li a:hover,  .widget_recent_comments ul li a:hover,
 .widget_meta ul li a:hover, .widget_rss ul li a:hover, .widget_archive ul li a:hover,
 .widget_pages ul li a:hover, .menu .menu-item a:hover
 {
  color: #f44336;
 
}


caption:after {
 
  background: #f44336;
 
}

.sidebar .best-seller-box li .media .media-body h4 a:hover {
  color: #f44336;
  
}

.sidebar .best-seller-box li .media .media-body p {
  color: #f44336;
}



.footer-area-top .twitter-feed li a:hover {
  color: #f44336;
}

.footer-area-top .corporate-address li i {
  color: #f44336;
  
}

.footer-area-bottom a {
  color: #f44336;
}




.main-header-area .main-menu-area nav ul li a:hover {
  color: #f44336;
 
}

.main-header-area .main-menu-area nav ul li ul {
 
  background: #f44336;
  
}

.cart-area > a {
  color: #f44336;
  
}

.cart-area > ul > li .media .cart-content ul li h4 a {
  color: #f44336;
 
}

.site-title:hover{
	color : #f44336;
}

.bg-theme-color{
	background: #f44336;
	
}

.page-numbers:hover, .page-numbers.current {
  background-color: #f44336;
 
}


.page-numbers:hover, .page-numbers.current {
    background: #f44336 !important;
   
}

.wpsm_theme_accordion .panel-title > a{
    background:#f44336;
  
}

.wpsm_theme_accordion .panel-title > a:hover{
    background:#f44336;
   
}

/*button */
.wpshopmart-button {
	
    background-color: #f44336;
   
}
.preview-1 .nivo-controlNav a:hover, .preview-1 .nivo-controlNav a.active {
    background:#f44336;    
}
.preview-2 .nivo-controlNav a:hover, .preview-2 .nivo-controlNav a.active {
    background: #ffbe00;   
}
.preview-3 .nivo-controlNav a:hover, .preview-3 .nivo-controlNav a.active {
    background: #ffbe00;
  
}
.preview-4 .nivo-controlNav a:hover, .preview-4 .nivo-controlNav a.active {
    background: #ffbe00;
    cursor: pointer;
}
#scrollUp {
  background-color: rgba(244, 67, 54, 0.5);
}
.page-services-3-box .media .featured-box .overlay { 
  background-color: rgba(244, 67, 54, 0.7);
}
.about-area .about-right .overlay {
	 background-color: rgba(244, 67, 54, 0.5);	
}

.featured-3-area .featuredContainer .featured-box .overlay,
featured-4-area .featuredContainer .featured-box .overlay2,
.clients-3-area .clients-3-box .clients-3-box-top:hover,
projects-2-featured-area .featuredContainer .featured-box .overlay2,
.shop-1-box .overlay,
.team-details-top-area .img-back-side .overlay,
.featured-6-box .overlay2 .overlay-top,
.featured-2-box .overlay2 .overlay-top,
.featured-area-lite .featuredContainer .featured-box .overlay2,
.featured-area .featuredContainer .featured-box .overlay2,
.services-2-top .overlay2 {
	background-color: rgba(244, 67, 54, 0.8);
}
.preview-1 .nivo-directionNav a.nivo-prevNav:hover:before,
.preview-1 .nivo-directionNav a.nivo-nextNav:hover:before,
.preview-2 .nivo-directionNav a.nivo-prevNav:hover:before,
.preview-2 .nivo-directionNav a.nivo-nextNav:hover:before,
.preview-3 .nivo-directionNav a.nivo-prevNav:hover:before,
.preview-3 .nivo-directionNav a.nivo-nextNav:hover:before,
.preview-4 .nivo-directionNav a.nivo-prevNav:hover:before,
.preview-4 .nivo-directionNav a.nivo-nextNav:hover:before{
	background: rgba(244, 67, 54, 0.4);
}

.header-bennar-area .header-bennar-right ul li a:hover {
    color: #f44336;
}
#scrollUp:hover, #scrollUp:focus {
    background-color: rgba(244, 67, 54, 0.8);
}
.wpcf7-submit{
	    background: #f44336;
		 border: 2px solid #f44336;
}
.projects-2-featured-area .featuredContainer .featured-box .overlay2{
	background-color: rgba(244, 67, 54, 0.7);
}
.projects-1-featured-area .featuredContainer .featured-box .overlay2,
.featured-4-area .featuredContainer .featured-box .overlay2
{
	background-color: rgba(244, 67, 54, 0.8);
}
.main-header-area .logo-area {
    margin-top: 25px;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 28px;
    padding-bottom: 5px;
}
.main-header-area .main-menu-area nav ul li ul > li:hover, .main-header-area .main-menu-area nav ul li ul > li .active{
	background:rgba(0,0,0,0.1);
}
.main-header-area .main-menu-area nav ul li ul > li {
    padding: 0;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
.main-header-area {
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
.stick{
	background: rgba(255, 255, 255, 1);
    margin: 0;
    border-bottom: 0px;
}

.preview-1 .slider-1 h1 {
    color: #ffffff;    
}
.header-style1-area .header-top-area {
    background: #f44336;
}
.header-top-area .header-top-left ul li i {
    color: #ffffff;
}
.header-top-area .header-top-left ul li a {
    color: #ffffff;
}
.header-top-area .header-top-right ul li a{
	color: #ffffff;
}
.preview-1 .slider-1 .read-more ul li a:hover{
	background:rgba(244, 67, 54, 0.8);
}

.preview-1 .slider-1 .read-more ul li:last-child a:hover {
    background: #f44336;
    border: 1px solid #f44336;
}
.main-header-area .main-menu-area nav ul li ul > li:hover a, .main-header-area .main-menu-area nav ul li ul > li .active a{
	color: #ffffff !important;
}
.main-header-area .main-menu-area nav ul li ul > li.active a{
	color: #ffffff !important;
}
.main-header-area .main-menu-area nav ul li ul > li.active{
	background:rgba(0, 0, 0, 0.1);
}
.tagc span {
    color: #222222;
    padding-bottom: 10px;
    display: block;
}
.service-area .row > div .service-box{
	    background: #232323;
}
.service-area .row > div .service-box:hover {
    background:  #f1f1f1;
}
.service-area .row > div .service-box .service-read-more{
	background:rgba(0,0,0,0.1);
}
.service-area .row > div .active {
   
    background: #000000;
}

.service-area .row > div .service-box.active:hover {
    background:   #f1f1f1;
}
.service-area .row{
	margin-right: 0px;
    margin-left: 0px;
}
.pagination .next, .pagination .prev, .pagination span.current{
	    background: #f44336;
}

.slider-1:before{
 position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #000;
	opacity:0.0;
	z-index: -1;
}

/* slider alignment */
@media only screen and (min-width: 1200px) {
	
	.s-tb {
    display: table;
    height: 100%;
    width: 100%;
    float: none;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.title-container {
    text-align: left;
    
}
.preview-1 .slider-1 .details-content p {
    font-size: 18px;
    margin-bottom: 5px;
    padding: 0;
    background: rgba(0,0,0,0.6);
    display: inline-block;
    padding: 10px 20px;
}

.preview-1 .slider-1 h1{
	padding: 0px 27px;
    text-transform: capitalize;
    font-size: 55px;
    background: #f44336;
    width: auto;
    margin-bottom: 10px;
    display: inline-block;
	
	
}
.preview-1 .slider-1 .details-content{
	
	display: block;
	    margin-bottom: 45px;
}
}
.preview-1 .slider-1 .read-more ul li:last-child a{
	background: #fff;
    border: 1px solid #ffffff;
    color: #333;
	border-radius:5px;
	text-transform: capitalize;
}
.preview-1 .slider-1 .read-more ul li a {
    margin-left: 0px;
	text-transform: capitalize;
	border-radius:5px;
}
/* menu align text right */
.main-header-area .main-menu-area nav ul{
	text-align:right;
	
} 
/* blog read more button styles */
.btn-read-more{
	    border-radius: 0px;	
}
.service-area .row > div .service-box h3:after{
	display:none;
	
}
.news-area .inner-news-box-top .news-published {
   
    top: 10px;
    left: 10px;
    width: 54px;
}
.preview-1 .slider-1 h1:before{
	height:0px;
	
}
.main-header-area .main-menu-area nav ul .active {
	background:#f44336;
	
}
.main-header-area .main-menu-area nav ul .active > a{
	color:#fff !important;
	
}
.header-top-area {
    padding: 15px 0;
}

.main-header-area .main-menu-area nav ul li a {
    display: block;
    transition: all .3s;
    text-transform: capitalize;
    text-decoration: none;
   font-weight:500;
    font-size: 15px;
    color: #000000;
}

.main-header-area .main-menu-area nav ul li:last-child{
	padding-right:0px;
	
}